/*------- font import -------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*======= default-common styles =======*/

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    color: black;
}

header h1 {
    color: white;
    margin: 0;
}


/**============================================
 *               SECTION HEADER
 *=============================================**/

.header-container {
    display: flex;
    width: 100%;
    background-color: #2d25a0;
    align-items: center;
    justify-content: center;
    padding-top: 135px;
    padding-bottom: 114px;
}

.banner-button {
    width: 168px;
    background: #e02c6d;
    color: #ffffff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0;
    margin: auto auto;
}

.button-link {
    margin: 16px;
    text-decoration: none;
}

.banner-button span {
    margin-left: 8px;
}

.header-title {
    width: 485px;
    height: 230px;
    margin-right: 51px;
    text-align: center;
}

.header-title h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
}

.header-title input {
    margin-top: 27px;
    padding: 10px 24px;
    text-align: center;
}

.header-banner {
    margin-left: 51px;
}

.header-banner img {
    width: 556px;
    height: 438px;
}


/*------------------ Animation -----------------*/

@keyframes color-rush {
    0% {
        background-color: #e66465;
        color: blue;
        transition: all 0s ease-in-out;
        transform: scale(1);
    }
    100% {
        transition: all 0.1s ease-in-out;
        transform: scale(1.2);
        color: indigo;
        background-color: #9198e5;
        background-position: 20vw;
    }
}

.banner-button:hover {
    background-image: linear-gradient( to right, #9198e5, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%, #e66465);
    animation: color-rush 5.5s ease-out alternate infinite;
}


/*--------------- END OF Header --------------*/


/**============================================
 *           SECTION players starts
 *=============================================**/

.main-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.players-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    width: 1050px;
}

.player-content {
    margin-right: 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    padding-bottom: 33px;
}

.player-image img {
    height: 256px;
    width: 300px;
}

.player-info h2 {
    color: #18191f;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 0;
}

.player-info p {
    color: #6c6c6c;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 0;
}


/*--------------- END OF Player SECTION --------------*/


/*================== Footer =================*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 213px;
    margin-top: 165px;
    margin-bottom: 63px;
}

footer p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.footer-logo img {
    width: 483.87px;
    height: 110px;
}

.social-links {
    color: #6c6c6c;
    margin: 20px 0;
}

.link-list {
    margin: 0;
}

.link-list a {
    background: rgb(199, 199, 199);
    height: 32px;
    width: 32px;
    border-radius: 90%;
    margin-right: 14px;
}

.copyright-text {
    margin: 0;
}

.social-links a i {
    text-align: center;
    color: #887e96;
    height: 32px;
    width: 32px;
}


/**============================================
 *               media query
 *=============================================**/


/* Mobile Devices */

@media only screen and (max-width: 688px) {
    .header-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 300px;
        /* flex-direction: column; */
    }
    .header-title {
        margin: auto;
        width: 278px;
        height: 138px;
    }
    .header-banner {
        margin: auto;
    }
    .header-banner img {
        width: 329px;
        height: 259.17px;
    }
    .players-grid {
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
    }
    .player-content {
        padding: 0;
        margin-right: 0;
        width: 330px;
    }
    .player-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .player-info {
        width: 300px;
    }
}


/* tablet display 1024px */

@media only screen and (min-width: 689px) and (max-width: 1020px) {
    .header-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 300px;
    }
    .header-title {
        margin: auto;
        width: 278px;
        height: 138px;
    }
    .header-banner {
        margin: auto;
    }
    .header-banner img {
        width: 329px;
        height: 259.17px;
    }
    .players-grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding: 0 20px;
    }
    .player-content {
        padding: 0;
        margin-right: 0;
        width: 330px;
    }
    .player-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .player-info {
        width: 300px;
    }
}